.content-section {
    box-sizing:border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;
}

.dark {
    background-color: #000;
}

.bright {
    background-color: green;
}

/*header start*/
.header {
    padding: 92px 24px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-items: center;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active .header__links-list {
    text-decoration: none;
}

.header__logo {
    display: block;
    margin:auto;
}

.header__logo-image {
    width: 150px;
}

.address {
    font-family: Raleway;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
}

.header__address {
    place-items: right;  
}

.header__links-list-item {

}

/*header end*/

/*main start*/
/*cover start*/
.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    z-index: -1;
    
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1100px;
    height: 757px;
    z-index: 0;
}

.cover__title {
    position: relative;
    padding: 165px 50px 0px 50px;
    letter-spacing: normal;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
}

.aligned-text{
    display:block;
}

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 50px;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 135px 50px 51px 78px;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    font-family: Raleway;
    word-spacing: 25px;
    text-transform: uppercase;
}

.bet-button {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    text-transform: uppercase;
    border-color: black;
    border: 1px solid white;
    padding: 10px;
}
/*cover end*/





/*main end*/


/* место для вашего кода */
